<p id="notice"><%= notice %></p>

<h1>Grams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Location</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grams.each do |gram| %> <!-- logic erb -->
      <tr>
        <td><%= image_tag gram.image_url unless gram.image_url.nil? %></td>
        <td><%= gram.title%></td> <!--erb, embedded ruby indexes, will evaluate the codes -->
        <td><%= gram.content%></td> <!-- evaluate into something -->

        <td><%= gram.location%></td>
        <td><%= country_name(gram.country_code)%></td>
        <td><%= link_to 'Show', gram %></td>
        <td><%= link_to 'Edit', edit_gram_path(gram) %></td>
        <td><%= link_to 'Destroy', gram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @grams %>

<%= link_to 'New Gram', new_gram_path %>
<%= link_to 'Custom', hihi_path %>
